@page
@model LetMasterWebApp.Pages.Admin.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PropertyType</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PropertyType.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PropertyType.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PropertyType.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PropertyType.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PropertyType.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PropertyType.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PropertyType.UpdatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PropertyType.UpdatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PropertyType.UpdatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PropertyType.UpdatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PropertyType.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PropertyType.IsActive)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.PropertyType.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
