@page
@model LetMasterWebApp.Pages.ExpenseTypeMgt.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ExpenseType</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseType.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpenseType.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseType.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpenseType.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseType.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpenseType.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseType.UpdatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpenseType.UpdatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseType.UpdatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpenseType.UpdatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseType.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpenseType.IsActive)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ExpenseType.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
